@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.drinkCard{    
    list-style: none;
    text-decoration: none;
    line-height: 1;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;    
    background-color: rgb(161, 125, 83);    
    color:darkolivegreen
}

.drinkImg{
    border-radius: 10px;
    width: 10rem;
    margin-top: 1rem;   
}

.drinkGlass{
    font-family: Amatic SC, Roboto, serif;
    font-weight: 700;
    font-size: x-large;
    text-transform: none;
}

.drinkAlcohol{
    font-style: italic;
}
