@font-face {
  font-family: 'MOXABestine';
  src: local('MOXABestine'), url(../src/assets/fonts/MOXABestine.ttf);
}

#root {
  max-width: 100rem;
  margin: 0;
  padding: 0;
  text-align: center;
}

.title {
  font-family: MOXABestine;
}