:root {
  line-height: 0.5;
  color-scheme: light dark;
  background-color: #3d1d1d;
}

a {
  color: #588716;
  text-decoration: none;
}
a:hover {
  color: #ceaf8e;
}

body {
  margin: 0;
  place-items: center;
} 

h1 {
  font-size: 4em;
  line-height: 1.1;
}